body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.grid-container {
    margin: 20px;
    background-color: #6495ed;
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
    padding: 30px;
    height: 100vh;
}

.grid-item {
    border-style: solid;
    border-color: black;
    padding: 5px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6495ed;
}

.navbar li {
    display: inline;
    padding: 20px 0px 20px 0px;
    float: left;
}

.navbar li:hover {
    background-color: #83aeff;
}

.navbar li a { 
    text-decoration: none;
    padding: 30px;
    color: white;
}

#related-links li {
    padding: 20px;
}