body {
    margin: 0;
    padding: 0;
}

.grid-container {
    margin: 5%;
    background-color: #6495ed;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    padding: 2%;
}

.grid-item {
    border-style: solid;
    border-color: black;
    padding: 5px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6495ed;
}

li {
    display: inline;
    padding: 20px 0px 20px 0px;
    float: left;
}

li:hover {
    background-color: #83aeff;
}

li a { 
    text-decoration: none;
    padding: 30px;
    color: white;
}